# Data Science Tools and Ecosystem

In this Notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List popular languages for Data Science
- List common libraries used in Data Science
- Create a table of Data Science Tools
- Execute mathematical operations

Some of the popular languages data scientists use include:

1. Python
2. R Language
3. SQL
4. Java
5. C++

Some of the common libraries data scientists use include:

1. Matplotlib
2. NumPy
3. Seaborn
4. Tensorflow
5. Scikit-learn
6. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|R - Studio |
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author

Kudzai Natasha Ngongoni